.analyticsTop{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 5vh;
    color:#EC80BC;
    padding-bottom: 4rem;
    
    
    
}
.analyticsBottom{
    height:33vh;
    width: 87vw;
    display: flex;
    justify-content:center;
    gap: 5vh;
    position: relative;
    margin:  4vh auto;
    
    
    }
.analyticsImg{
    background-color:#EC80BC;
    height: 11vh;
    width: 11vh;
    border-radius: 29vh;
    position: absolute;
    top: -15.3%;
}
.analyticsBottom h1{
    color:rgb(197, 60, 197) ;
    font-size: 4vh;
    margin-top: 30%;
    margin-bottom: 0vh;
    font-weight: 700;
    
}
.analyticsBottom p{
    color:black;
    font-weight: 500;

    
}

.analyticsCard {
    background-color: white;
    padding: 1rem;
    width: 24vw;
    height: 21vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adds a soft shadow */
    border-radius: 8px; /* Optional: to add rounded corners */
}

