

.trending {
    width: 100%;
    padding: 1.5vh;
}
.allcards{
    background-color: white;
    border-radius: 2vh;
    padding: 1vh;
    margin-bottom: 1vh;

}
.cardContainer {
    display: flex;
    gap: 1vw;
    overflow-x: scroll;
    overflow-y: hidden; /* Ensure no vertical scroll appears */
    padding: 2vh 0vh;
    width: 100%;
    scroll-behavior: smooth; /* Smooth scrolling */
}

.tCard {
    width: 12vw; /* Set a fixed width for horizontal scrolling */
    flex-shrink: 0; /* Prevent shrinking of cards */
    border-radius: 2vh;
}
.tImg{
    height: 20vh;
    width: 100%;
    border-radius: 2vh 2vh 0 0;
}
.tDetails{
    padding: 1vh;
    position: relative;

}
.tDetails h3{
    font-size: 1.5vh;
    line-height: 2.7vh;
}
.tDetails h4{
    font-size: 1.5vh;
    color: palevioletred;
}
.tHeading{
    display: flex;
    font-size: small;
    justify-content: space-between;
    margin-bottom: 1vh;
}
#NLable{
    /* background-color: palevioletred; */
    color: white;
    border-radius: 2vh;
    padding: 0.5vh;
    font-size: 1.5vh;
}

.tRight{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    width: 50%;
    background-color: palevioletred;
    border-radius: 2vh;
    font-size: 1.5vh;

    
}
.fullProfile img{
    height: 5vh;
    width: 5vh;
    margin: 0.2vh;
    border-radius: 50%;
}
.fullProfile{
    height: 10vh;
    width: 10vh;
    color: black;
    background-color: white;
    position: absolute;
    top : 5.5vh;
    right: 1vh;
    font-size: 1.3vh;
    font-weight: 500;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.trending h1{
    font-weight: bold;
}

.note{
    width: 100%;
    padding: 2vh;
    font-size: 1.8vh;
    background-color: rgb(228, 244, 247);
    border-radius: 2vh;
    margin-top: 2vh;
}
.note span{
    font-weight: bold;
    font-size: 2vh;
}


