.section-container{
    height: 100%;
    width: 100%;
    display: flex;
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    gap: 10px;
    overflow-y: scroll;
}
.sectionOne{
    height: auto;
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.upper{
    background-color: white;
    padding: 1vh;
    border-radius: 2vh;

}
.upper h1{
    font-size: 4vh;
}
.userId{
    color: palevioletred;
    padding: 1vh;
}
.secondSection{
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.extra{
    display: flex;
    justify-content: space-between;
    gap:10px;
    height: auto;
}
.gallert{
    height: 10vh;
    width: 100%;
    /* margin-top:88vh; */

}
.sectionSecond{
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1vh;

}
.thirdSection{
    width: 40%;
}
.firstdetail{
    width: 90%;
    margin: auto;
    text-align: justify;
    font-size: small;
}
#lable{
    background-color: palevioletred;
    padding: 0.5vh 1vh;
    border-radius: 5vh;
    font-size: small;
    color: white;
    
}
.profileImg {
    width: 100%;
    height: 40vh;
    position: relative;
    z-index: 1;
    /* filter: blur(3px); */
    padding-top: 5vh;
}

.starts{
    display: flex;
    gap: 1vh;
    align-items: center;
    margin-bottom: 1vh;
}

.blurImg {
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    /* background-color: white; */
    position: absolute;
    top: 35%;
    left: 36%;
    /* border: 4px solid palevioletred; */
    z-index: 3;
}

.blurImg1 {
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    position: absolute;
    top: 67.5%;
    left: 57%;
    z-index: 3;
}
.gallert h1{
    color: palevioletred;
    font-size: 3vh;
    font-weight: 500;
}
.img1 {
    height: 7vw;
    width: 7vw;
    margin: 2vh;
    border-radius: 2vh;
    /* filter: blur(3px);  */

}
.img1 img{
    height: 7vw;
    width: 7vw;
    border-radius: 2vh;

}
.gallert h3{
    color: rgb(61, 170, 206);
    font-size: 2.5vh;
    font-weight: 400;
    
}

.headingSecond1{
    display: flex;
    justify-content: space-between;


}
.matchCard{
    border: 2px solid black;
    width: 95%;
    margin:5vh  auto ;
    padding-top: 1vh;
    border-radius: 3vh;
}
.cardText{
    padding-top: 1.3vh;
}
.percentMatch{
    padding: 2px;
    background-color: rgb(36, 179, 120);
    width: 50%;
    margin: auto;
    border-radius: 5vh;
    font-weight: 500;
    font-size: 2vh;
}
.cardDetail{
    text-align: left;
    padding: 2vw 1vw;
    font-weight: 500;
    line-height: 4.5vh;
}
.cardDetail span {
    font-weight: 100;
    font-size: 2vh;
}
.filled {
    height: 1vh;
    width: 70%;
    background: linear-gradient(to right, red, green);
    border: 1px solid black;
    border-radius: 5vh;
    margin: 1vh auto;

}

.matchedIcondDiv{
    display: flex;
    justify-content: center;
    gap: 3vh;

}
.matchedIcondDiv img {
    height: 4vh;
    width: 7vh;
    border-radius: 50%;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
    border: none;

    
}
.matchedIcondDiv p{
    font-size: 1.8vh;
}
.matchBtn{
    margin-top: 3vh;
    height: 6vh;
    width: 40%;
    background-color: #ddebec;
    margin-bottom: 1vh;
    border-radius: 5vh;
    color: black;
}
.planDetail{
    background-color: black;
    color: white;
    padding:3vh 3vh;
    border-radius: 2vh;
    text-align: center;

   
}
.planDetail h2{
    font-size: 3.3vh;
}
.planDetail h5{
    font-size: 1.8vh;
    margin: 1vh;
    margin-bottom: 0;
    text-align: center;
}
.planBtn{
    margin-top: 4vh;
    height: 5.5vh;
    width: 44%;
    background-color: white;
    color: black;
    border-radius: 5vh;
    font-size: 2vh;
}