.slider-container {
    font-family: Arial, sans-serif;
    color: #666;
    position: relative;
    width: 100%;
  }
  
  label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
  }
  
  .slider-values {
    font-size: 14px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
  }
  
  .range-slider {
    position: relative;
    width: 100%;
    height: 20px;
  }
  
  .range-slider .range-input {
    position: absolute;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    margin: 0;
    pointer-events: none;
    background: transparent;
  }
  
  .range-slider .range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: url('../../../../images/circle-dot.svg');
    border-radius: 50%;
    pointer-events: auto;
    cursor: pointer;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    position: relative;
    z-index: 3;
  }
  

  .range-slider .range-input::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #fff; /* White main thumb */
    border-radius: 50%;
    border: 1px solid #0f0e0f; /* Dark border */
    pointer-events: auto;
    cursor: pointer;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    position: relative;
    z-index: 3;
  }
  
  .range-slider .range-input::-moz-range-thumb::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background: #ff4db8; /* Inner pink pointer */
    border-radius: 50%;
    z-index: 4; /* Ensure it's on top of the thumb */
  }
  
  .range-slider .range-track {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 8px;
    background: #ffd7e8; /* Light pink track */
    border-radius: 5px;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .range-slider .range-highlight {
    position: absolute;
    top: 50%;
    height: 2px;
    background: #ff4db8; /* Pink active section */
    border-radius: 5px;
    transform: translateY(-50%);
    z-index: 2;
  }
  