@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  background-color: #ffffff;
}

::selection {
  background-color: #ff9fdacb;
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar (for horizontal scrollbar) */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #df77b2; /* Thumb color */
  border-radius: 10px;
  border: 3px solid #f1f1f1; /* Border around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e292c3; /* Thumb color on hover */
}

::-webkit-scrollbar-button {
  display: none; /* Hides the scrollbar buttons */
}