.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 90%;
    height: 300px; /* Adjusted height for 3 cards */
    margin: 3rem auto;
    border-radius: 10px;
    background: radial-gradient(circle at 10% 10%, rgba(234, 87, 169, 0.2) 100%, transparent 20%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    position: relative;
  }
  .crBtn{
    position: absolute;
    bottom :15%;
    right: 2%;
    width :10rem
  }
  .crBtn button {
    background-color: #FF59B6;
  }
  .carousel-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }
  
  .carousel-items {
    width: 100%;
  }
  
  .carousel-items > div {
    flex: 0 0 30%; /* Ensures each card takes 30% of the width, leaving space between */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .carousel-items > div:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  }
  .heads{
    display: flex;
    flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  margin-top: 5rem;
  font-family: "DM Sans", serif;
  }
  .carousel-btn {
    border: none;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
  }
  
  .carousel-btn:first-of-type {
    left: 10px;
  }
  
  .carousel-btn:last-of-type {
    right: 10px;
  }
  
  
  .carousel-items > div:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); /* Retains the shadow effect, if needed */
  }
  